@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

$lexend-Deca : 'Lexend Deca', sans-serif;
$big-Sh-Display : 'Big Shoulders Display', sans-serif;
$weight4 : 400;
$weight7 : 700; 
